﻿@using CodeTrade.Models;

@{
    ViewBag.Title = "AllUsers";
}

<h2>AllUsers</h2>
@* Testing version control -- Devin was here *@
<div>
    @foreach (SiteUser s in ViewBag.siteusers)
    {
        <div>@s.SiteUserEmail</div>
    }

</div>

