﻿
@{
    ViewBag.Title = "Login";
    
}

<h2>Login</h2>

<div>@ViewBag.LoginMessage</div>

<div>
<form method="post" action="">
    email<input type="text" name="email" value="@ViewBag.Email" /><br />

    password    <input type="text" name="password" /><br />
    
    <input type="submit" />

</form>
    </div>

