﻿
@{
    ViewBag.Title = "SetCookie";

    HttpCookie chocolatechip = new HttpCookie("mydata", "peanut butter");
    Response.SetCookie(chocolatechip);
    
}

<h2>SetCookie</h2>

<div>Cookie has been set.</div>

