﻿@using CodeTrade.Models;

@{
    ViewBag.Title = "SiteUserLookup";

    SiteUser s = new SiteUser();
    s.SiteUserFirstName = @"unknown";

    if(ViewBag.SiteUser != null)
    {
         s = ViewBag.SiteUser;
    }
}

<h2>SiteUserLookup</h2>
<div>
<form action="" method="post">
    <input type="text" name="id" /><br />
    <input type="submit" />
</form>
</div>

<div>
    @s.SiteUserFirstName
</div>

