﻿@model CodeTrade.Models.SiteUser

@{
    ViewBag.Title = "UserDetail";
}

<h2>UserDetail</h2>

<div>
    <h4>SiteUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteUserFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteUserFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteUserLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteUserLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteUserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteUserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteUserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteUserPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SiteUserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
